<style>
    img{
        height: 100px;
        width: 50px;
    }
    nav{
        box-shadow: 0.4px 0.5px 0.4px 0.7px black ;
    }
</style>
<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h3>YTD</h3>
        <!-- <img src="https://img.icons8.com/dusk/100/null/caesium.png" alt="Logo"> -->
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="<%= path === '/' ? 'navbar-item active' : 'navbar-item' %>" href="/">
          Home
        </a>

        <a class="<%= path === '/audio-convertor' ? 'navbar-item active' : 'navbar-item' %>" href="/audio-convertor">
          Audio Converter
        </a>
  
        <a class="<%= path === '/about-us' ? 'navbar-item active' : 'navbar-item' %>" href="/about-us">
          About Us
        </a>
  
        <a class="<%= path === '/contact-us' ? 'navbar-item active' : 'navbar-item' %>" href="/contact-us">
          Contact Us
        </a>
  
        <a class="<%= path === '/privacy' ? 'navbar-item active' : 'navbar-item' %>" href="/privacy">
          Privacy Policy
        </a>
  
        <a class="<%= path === '/terms' ? 'navbar-item active' : 'navbar-item' %>" href="/terms">
          Terms & Conditions
        </a>
      </div>
    </div>
  </nav>